.hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  
}

.figure {
    
    width: 100%;
}

.figure img {
    width: 100%;
    z-index: 3;
}

.figure .design {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    background-color: var(--primary-blue);
    z-index: 0;
    height: 80%;
    border-radius: 0px 0px 0px 150px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 0px 24px;
}

.content h1 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--neutral-dark-blue);
    text-align: center;
}

.content p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--neutral-blue);
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    
}

@media only screen and (min-width: 481px) {
  
}
@media only screen and (min-width: 769px) {
    .hero {
        flex-direction: row-reverse;
        align-items: center;
        margin-block: 2rem;
      }

      .content h1, .content p {
        text-align: start;
      }

    .content h1 {
        font-size: 2.5rem;
    }

    .content {
        gap: 1.3rem;
    }

    .content p {
        font-size: 1.2rem;
        line-height: 30px;
    }

      .buttons {
        justify-content: start;
      }
}
@media only screen and (min-width: 1025px) {
    .hero {
        margin-block: 3rem;
    }
    .content h1 {
        font-size: 3rem;
    }

    .content {
        gap: 1.6rem;
    }

    .content p {
        font-size: 1.5rem;
    }
    
    
    .content {
      padding-left: 100px;
    }
    
}