.asked {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0px 24px;
}



@media only screen and (min-width: 481px) {

}
@media only screen and (min-width: 769px) {  
    .asked {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 3rem 1rem;
        margin-top: 100px;
    }
    .asked_content {
      
        grid-row: 2 / 3;
        grid-column: 3 / 11;
    }

    .btn {
        display: flex;
        justify-content: center;
        grid-row: 3 / 4;
        grid-column: 4 / 10;
    }
}
@media only screen and (min-width: 1025px) {
    .asked_content {
       
        grid-column: 4 / 10;
    }
}